.dropDownItem{
    padding: 10px !important;
    display: block !important;
}
.dropDownItem > span {
    width: 100% !important;
    height: 100% !important;
    display: block !important;
}
.dropDownItem  a {
    width: 100% !important;
    height: 100% !important;
    display: block !important;
}

header{
    max-width: 1156px !important;
    justify-content: center !important;
}

.navItem{
    border: 1px 1px 0px 1px solid blue !important;
}
