.card__name{
    writing-mode: vertical-rl;
}

.card:hover .card__name{
    left: 0;
}
.card:hover .card__img{
    margin-left: 3.2rem;
}
.card:hover .card__icon{
    margin-left: 3.4rem;
}
.card:hover .card__icon_2{
    margin-right: -2px;
}
.card:hover .card__precis{
    margin-left: 3.5rem;
    padding: 0 1.5rem;
}

@media (max-width: 576px) {
    .card:hover .card__precis {
      margin-left: 1.4rem;
      padding: 0 1.5rem;
    }
    .card:hover .card__icon{
        margin-left: 1.3rem;
    }
    .card:hover .card__img{
        margin-left: 1.2rem;
    }
  }
